@model FineBlog.ViewModels.ResetPasswordVM


@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">
                Şifre Değiştirme
            </h4>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Geri Dön</a>
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title text-white">
                            Yeni Kayıt Formu
                        </h4>
                    </div>
                    <input type ="hidden" asp-for="Id" />
                    <div class="card-body">
                        <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
                            <div class="mb-2">
                                <label>Kullanıcı Adı</label>
                                <input type="text" asp-for="UserName" class="form-control" disabled/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Yeni Şifre</label>
                                <input type="password" asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Yeni Şifre Tekrarı</label>
                                <input type="text" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <button type="submit" class="btn btn-primary w-100">Şifre Yenile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
