@{
    ViewData["Title"] = "About";
}


<!-- Page Header-->
<header class="masthead" style="background-image: url('/blog/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Hakkımda</h1>
                    <span class="subheading">Burada ne yaptığımı anlatıyorum.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Her şey için bir numaralı blog sitesi olan Ninova Kütüphanesine‘ne hoş geldiniz.Yazılarıma odaklanarak size en iyi şekilde sunmaya kararlıyım.</p>
                <p>[Kurucunun adı] tarafından [yıl] ‘da kurulan [marka adı], bir [başlangıç ​​konumu, yani ev ofisi ya da İstanbul’da gibi [marka kurucusu] ilk başladığında, [kurucunun tutkusu, insanların daha çevre dostu olmasına yardımcı olmak ya da müzikseverler için en iyi ekipmanı sağlamak gibi] onu [eyleme, yani: yoğun araştırma yapmaya] sürükledi. [günlük işini bıraktı] ve sıkı çalışmayı ve ilhamı hızla büyüyen bir çevrimiçi mağazaya dönüştürme gücü verdi. Artık [ülke, Türkiye’nin] her yerindeki müşterilere hizmet veriyoruz ve [sıfat, yani: ilginç, çevre dostu, kullanıcı dostu, sürdürülebilir] ürünlerin bir parçası olmaktan heyecan duyuyoruz.</p>
                <p>
                    Ürünlerimizi size sunmaktan zevk aldığımız kadar beğeneceğinizi umuyoruz. Herhangi bir sorunuz veya yorumunuz varsa, lütfen bizimle iletişime geçmekten çekinmeyin.
                </p>
                <p>Saygılarımla.</p>
            </div>
        </div>
    </div>
</main>